In [1]:
import numpy as np  
import pandas as pd

In [18]:
canditates_path = '../candidates_V2.csv'
output_path = 'labels.csv'

In [19]:
data = pd.read_csv(canditates_path)
data.head()

,seriesuid,coordX,coordY,coordZ,class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,68.420000,-74.480000,-288.700000,0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-95.209361,-91.809406,-377.426350,0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-24.766755,-120.379294,-273.361539,0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-63.080000,-65.740000,-344.240000,0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,52.946688,-92.688873,-241.067872,0

In [20]:
data_labels= data.groupby('seriesuid')['class'].max().to_frame('label').reset_index()
data_labels

                                             seriesuid  label
0    1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...      1
1    1.3.6.1.4.1.14519.5.2.1.6279.6001.100332161840...      0
2    1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...      1
3    1.3.6.1.4.1.14519.5.2.1.6279.6001.100530488926...      0
4    1.3.6.1.4.1.14519.5.2.1.6279.6001.100620385482...      0
..                                                 ...    ...
883  1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...      1
884  1.3.6.1.4.1.14519.5.2.1.6279.6001.980362852713...      0
885  1.3.6.1.4.1.14519.5.2.1.6279.6001.986011151772...      0
886  1.3.6.1.4.1.14519.5.2.1.6279.6001.994459772950...      1
887  1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...      1

[888 rows x 2 columns]

In [21]:
data_labels.to_csv(output_path)